#app .main-container {
  margin-left: 200px;
  display: inline-flex;
  flex: 1;
  background-color: #f5f5f5;
  flex-direction: column;
  overflow-x: hidden;
}

#app .sidebar-container {
  width: 200px;
  height: 100%;
  background: #003865;
  position: fixed;
  font-size: 0px;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1001;
  overflow: hidden;
  -webkit-box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
  box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
}

#app .sidebar-container .scrollbar-wrapper {
  overflow-x: hidden !important;
}

#app .sidebar-container .el-scrollbar__bar.is-vertical {
  right: 0px;
}

#app .sidebar-container .el-menu {
  border: none;
}

#app .hideSidebar .main-container {
  margin-left: 64px;
}

#app .hideSidebar .sidebar-container {
  width: 64px !important;
}

#app .hideSidebar .submenu-title-noDropdown {
  padding: 0 !important;
  position: relative;
}

#app .hideSidebar .submenu-title-noDropdown .el-tooltip {
  padding: 0 !important;
}

#app .hideSidebar .submenu-title-noDropdown .el-tooltip .svg-icon {
  margin-left: 20px;
}

#app .hideSidebar .el-submenu {
  overflow: hidden;
}

#app .hideSidebar .el-submenu > .el-submenu__title {
  padding: 0 !important;
}

#app .hideSidebar .el-submenu > .el-submenu__title .svg-icon {
  margin-left: 20px;
}

#app .hideSidebar .el-menu--collapse .el-submenu > .el-submenu__title > span {
  height: 0;
  width: 0;
  overflow: hidden;
  visibility: hidden;
  display: inline-block;
}

#app .hideSidebar .el-menu--collapse .el-submenu > .el-submenu__title .el-submenu__icon-arrow {
  visibility: hidden;
}

* {
  font-size: 13px;
}

.top-btn {
  display: flex;
  justify-content: end;
}

.page-btn {
  width: 100px;
}

.el-table .cell {
  padding: 0 12px;
}

.el-dialog__body {
  padding: var(--el-dialog-padding-primary) !important;
}

.el-button {
  height: 30px;
  padding: 8px 12px !important;
}

.el-button [class*=el-icon] + span {
  margin-left: 3px !important;
}

.w-e-text-container {
  height: 400px !important;
}
